/* autocomplete default scss */
@import "._variables.scss";
@import "_variables.scss";

$autocomplete_module: true;

[ss-autocomplete] {
	z-index: 999999;
	position: absolute;
	right: $ac-right;
	left: $ac-left;
	top: $ac-top;
	* {
		@include box-sizing;
	}
}

/* AutoComplete - Resets */

[ss-autocomplete] {
	ul, ul li {
		@include reset;
		list-style: none;
	}
	#ss-ac-facets .facet-container h4, #ss-ac-results h4 {
		padding: 0;
	}
}

/* AutoComplete - Wrapper */

[ss-autocomplete] .ss-ac-wrapper {
	padding: 0 0 0 $ac-terms-width;
	font-family: $ac-font-01;
	font-size: $ac-font-size;
	line-height: 1.5;
	@include clearfix('&');
	@if $ac-wrapper-shadow-on == true {
		@include box-shadow(3px 3px 3px, rgba(0,0,0,0.2));
	}
	@if $ac-wrapper-border-on == true {
		border: 1px solid $ac-color-02;
	}
	&, #ss-ac-terms {
		background: $ac-color-01;
	}
	&.no-terms {
		padding: 0;
	}
}

/* AutoComplete - Merchandising */

[ss-autocomplete] {
	.merchandising {
		img {
			max-width: 100%;
			height: auto !important;
		}
		&#ss-ac-merch_header, &#ss-ac-merch_banner {
			margin: 0 0 10px 0;
		}
		&#ss-ac-merch_footer {
			margin: 10px 0 0 0;
		}
		&#ss-ac-merch_left {
			margin: 20px 0 0 0;
		}
	}
}

/* AutoComplete - Content */

[ss-autocomplete] #ss-ac-content {
	width: $ac-content-width;
	background: $ac-color-04;
	padding: 20px;
	@include clearfix('&');
}

/* AutoComplete - Active and focus states */

[ss-autocomplete] {
	#ss-ac-terms ul li.active a, #ss-ac-facets .facet-container ul li.active a, #ss-ac-results .item-results li a.ss-focused .item-details .item-name {
		color: $ac-color-05;
	}
	@if $ac-focused-decoration or $ac-focused-style or $ac-focused-weight {
		#ss-ac-terms ul li a.ss-focused, #ss-ac-facets .facet-container ul li a.ss-focused, #ss-ac-results .item-results li a.ss-focused .item-details .item-name {
			@if $ac-focused-decoration != '' {
				text-decoration: $ac-focused-decoration;
			}
			@if $ac-focused-style != '' {
				font-style: $ac-focused-style;
			}
			@if $ac-focused-weight != '' {
				font-weight: $ac-focused-weight;
			}
		}
	}
}

/* AutoComplete - Terms */

[ss-autocomplete] #ss-ac-terms {
	float: left;
	margin: 0 0 0 (-$ac-terms-width);
	width: $ac-terms-width;
	ul li {
		a {
			display: block;
			padding: 10px 20px;
			font-size: $ac-terms-font-size;
			color: $ac-color-03;
			em {
				font-style: $ac-terms-em-style;
				font-weight: $ac-terms-em-weight;
			}
		}
		&.active {
			background: $ac-color-04;
		}
	}
}

/* AutoComplete - Facets */

[ss-autocomplete] #ss-ac-facets {
	float: left;
	width: $ac-facets-width;
	padding: 0 20px 0 0;
	.facet-container {
		h4 {
			margin: 0 0 5px 0;
			color: $ac-color-06;
			font-family: $ac-font-02;
			font-weight: $ac-facets-h4-weight;
			font-size: $ac-facets-h4-font-size;
			@if $ac-facets-h4-transform != none {
				text-transform: $ac-facets-h4-transform;
			}
		}
		ul {
			margin: 0 0 10px 0;
			@if $ac-facets-ul-border-on == true {
				border-bottom: 1px solid $ac-color-07;
				padding: 0 0 10px 0;
			}
			li {
				a {
					margin: 0 0 3px 0;
					display: block;
					color: $ac-color-03;
				}
			}
		}
		&:last-child ul {
			@include reset;
			@if $ac-facets-ul-border-on == true {
				border: 0;
			}
		}
		@if $ac-facets-checks-on == true {
			&.list ul li {
				a {
					@include checks($ac-facets-checks-padding, $ac-facets-checks-size, $ac-facets-check-top, $ac-facets-check-left, $ac-color-08);
				}
				&.active a:after {
					@include checks-highlight($ac-facets-checks-style, $ac-color-09);
				}
			}
		}
		@if $ac-facets-palette-on == true or $ac-facets-grid-on == true {
			&.palette, &.grid {
				ul {
					margin: 0 -2.5px 10px -2.5px;
					@include clearfix('&');
					li {
						float: left;
						margin: 0 2.5px 5px 2.5px;
						a {
							overflow: hidden;
							margin: 0;
							text-decoration: none;
							@include sizing($ac-facets-box-size, $ac-facets-box-size);
							&, span {
								display: block;
								@include box-sizing;
							}
							span {
								@include sizing(100%, 100%);
							}
						}
					}
				}
			}
		}
		@if $ac-facets-palette-on == true {
			&.palette ul li {
				a {
					@include palette($ac-facets-palette-radius, $ac-facets-palette-border, $ac-color-10);
				}
				&.active a span:after {
					@include palette-highlight($ac-color-11);
				}
			}
		}
		@if $ac-facets-grid-on == true {
			&.grid ul li {
				a {
					@include grid($ac-facets-box-size - 2, $ac-color-12);
				}
				&.active a {
					@include grid-highlight($ac-color-13);
				}
			}
		}
	}
}

/* AutoComplete - Results */

[ss-autocomplete] #ss-ac-results {
	overflow: hidden;
	h4 {
		margin: 0 0 10px 0;
		color: $ac-color-14;
		font-family: $ac-font-02;
		font-weight: $ac-results-h4-weight;
		font-size: $ac-results-h4-font-size;
		@if $ac-results-h4-transform != none {
			text-transform: $ac-results-h4-transform;
		}
		strong {
			color: $ac-color-15;
		}
	}
	.item-results {
		margin: 0 -5px -10px -5px;
		li {
			width: $ac-results-li-width;
			@include inline-block(top);
			margin: 0 0 10px 0;
			padding: 0 5px;
			& > a {
				display: block;
				text-decoration: none;
			}
			.item-image {
				display: table;
				line-height: 0;
				@include sizing(100%, $ac-results-image-height);
				margin: 0 0 10px 0;
				.image-wrapper {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					@include sizing(100%, 100%);
					img {
						max-height: $ac-results-image-height;
						max-width: 100%;
						@include sizing(auto, auto);
						border: 0;
					}
				}
			}
			.item-details {
				p {
					margin: 0 0 10px 0;
					&:last-child {
						margin: 0;
					}
				}
				.item-name, .item-name a {
					color: $ac-color-16;
				}
				.item-price {
					.regular {
						color: $ac-color-17;
						font-weight: $ac-results-regular-weight;
					}
					.regular.on-sale {
						color: $ac-color-18;
						font-weight: $ac-results-sale-weight;
					}
					.msrp {
						text-decoration: $ac-results-retail-decoration;
						color: $ac-color-19;
						padding: 0 5px 0 0;
					}
				}
			}
		}
	}
}

/* AutoComplete - Breakpoint 1 (default: 1099) */

@include respond($ac-bp1-width) {
	[ss-autocomplete] {
		.ss-ac-wrapper {
			padding: 0;
		}
		#ss-ac-terms {
			width: $ac-content-width;
			margin: 0;
			float: none;
			ul {
				display: table;
				width: 100%;
				li {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					width: $ac-bp1-terms-width;
				}
			}
		}
		#ss-ac-results .item-results li .item-image {
			height: $ac-bp1-image-height;
			.image-wrapper img {
				max-height: $ac-bp1-image-height;
			}
		}
	}
}

/* AutoComplete - Breakpoint 2 (default: 767) */

@include respond($ac-bp2-width) {
	[ss-autocomplete] {
			margin: auto;
			left: 0;
			right: 0;
			width: auto;
			max-width: 100%;
			padding: 0;
		#ss-ac-terms, #ss-ac-content {
			width: auto;
		}
		#ss-ac-content {
			padding: 10px;
		}
		#ss-ac-terms ul li a {
			padding: 5px 10px;
			font-size: $ac-terms-font-size - 2;
		}
		#ss-ac-facets {
			width: auto;
			float: none;
			padding: 0;
			margin: 0 -5px;
			.facet-container {
				width: $ac-bp2-facets-width;
				@include inline-block(top);
				padding: 0 5px;
				h4 {
					font-size: $ac-facets-h4-font-size - 2;
				}
				@if $ac-facets-ul-border-on == true {
					ul {
						border: 0;
						padding: 0;
					}
				}
				&:last-child ul {
					margin: 0 0 10px 0;
				}
			}
		}
		#ss-ac-results {
			overflow: visible;
			h4 {
				font-size: $ac-results-h4-font-size - 4;
			}
			.item-results li .item-image {
				height: $ac-bp2-image-height;
				.image-wrapper img {
					max-height: $ac-bp2-image-height;
				}
			}
		}
		.merchandising#ss-ac-merch_left {
			display: none;
		}
	}
}

/* AutoComplete - Breakpoint 3 (default: 480) */

@include respond($ac-bp3-width) {
	[ss-autocomplete] {
		#ss-ac-terms {
			padding: 8px;
			border-bottom: 1px solid $ac-color-02;
			ul {
				display: block;
				width: auto;
				margin: 0 -4px -4px -4px;
				&, li {
					text-align: left;
				}
				li {
					@include inline-block(top);
					width: 33.33%;
					&.active {
						background: none;
					}
					a {
						padding: 0 4px 4px 4px;
						font-size: $ac-terms-font-size - 4;
					}
				}
			}
		}
		#ss-ac-content {
			padding: 8px;
		}
		#ss-ac-facets {
			display: none;
		}
		#ss-ac-results {
			h4 {
				display: none;
			}
			.item-image, .item-results li .item-details p {
				margin: 0 0 4px 0;
			}
			.item-results {
				margin: 0 -4px -8px -4px;
				li {
					width: 50%;
					margin: 0 0 8px 0;
					padding: 0 4px;
				}
			}
		}
	}
}
