/* slideout default scss */
@import "._variables.scss";
@import "_variables.scss";

$slideout_module: true;

body {
	.searchspring-overlay {
		background-color: $slideout-overlay;
	}
	.searchspring-slideout_button {
		background-color: $slideout-color-01;
		@include transition(all 250ms ease-in-out 0s);
		&:hover {
			background-color: $slideout-color-02;
			cursor: pointer;
		}
	}
	.searchspring-slideout_button.searchspring-slideout_filter {
		display: none;
		@include sizing(100%, 40px);
		text-align: center;
		margin: 0 0 20px 0;
		position: relative;
		.searchspring-slideout_button_icon {
			@include sizing(30px, 20px);
			position: absolute;
			top: 10px;
			left: 10px;
			.button-line {
				display: block;
				@include sizing(100%, 4px);
				background: $slideout-color-03;
				margin: 0 0 4px 0;
			}
		}
		.searchspring-slideout_button_text {
			line-height: 40px;
			color: $slideout-color-04;
		}
	}
	#searchspring-slideout_container {
		#searchspring-slideout_header {
			position: relative;
			padding: $slideout-title-padding;
			h4 {
				line-height: 42px;
				margin: 0;
			}
			.searchspring-slideout_button {
				position: absolute;
				top: $slideout-button-top;
				right: $slideout-button-left;
				@include background-svg($viewport-width: 24, $fill: $slideout-color-04, $path: 'M20.91 5.375l-9.48 9.482 9.48 9.482q.34.338.34.803t-.34.804l-2.963 2.964q-.34.34-.804.34t-.804-.34L3.09 15.66q-.34-.338-.34-.803t.34-.804L16.34.803q.338-.34.803-.34t.804.34l2.964 2.964q.34.34.34.804t-.34.805z');
				background-size: 60% 60%;
				background-repeat: no-repeat;
				background-position: center;
				text-align: center;
				@include sizing(42px, 42px);
				margin: 0;
			}
		}
		#searchspring-slideout_facets {
			padding: $slideout-facet-padding;
		}
	}
}

/* Slideout - Breakpoint 1 (default: 767) */

@include respond($slideout-bp1-width) {
	body .searchspring-slideout_button.searchspring-slideout_filter {
		display: block;
	}
}
